<section id="about" class="about about__section section">
  <picture>
    <source
      type="image/webp"
      srcset="./images/home/people.webp 1x, ./images/home/people@2x.webp 2x"
    />
    <source
      type="image/jpeg"
      srcset="./images/home/people.jpg 1x, ./images/home/people@2x.jpg 2x"
    />

    <img
      src="./images/home/people.jpg"
      alt="team of people in the office"
      width="320"
    />
  </picture>

  <div class="container about__container">
    <p class="section-pre-title about__pre-title">What you are looking for</p>
    <h2 class="section-title about__title">We provide bespoke solutions</h2>
    <p class="about__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="btn about__btn" type="button">Read More</button>
  </div>
</section>
