<section id="about" class="about about__section section">
  <div class="container about__container">
    <div class="about__image-thumb"></div>
    <div class="about__content">
      <p class="section-pre-title about__pre-title">What you are looking for</p>
      <h2 class="section-title about__title">We provide bespoke solutions</h2>
      <p class="about__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="btn about__btn" type="button">Read More</button>
    </div>
  </div>
</section>
