<section id="blog" class="blog blog__section section">
  <picture>
    <source
      type="image/webp"
      srcset="./images/home/blog.webp 1x, ./images/home/blog@2x.webp 2x"
    />
    <source
      type="image/jpeg"
      srcset="./images/home/blog.jpg 1x, ./images/home/blog@2x.jpg 2x"
    />

    <img
      src="./images/home/blog.jpg"
      alt="coffee open notepad and tablet on the table"
      width="320"
    />
  </picture>
  <div class="container blog__container">
    <p class="section-pre-title blog__pre-title">April 16 2020</p>
    <h2 class="section-title blog__title">Blog Post One</h2>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="btn blog__btn" type="button">Read Our Blog</button>
  </div>
</section>
