<section id="cases" class="cases cases__section section">
  <div class="container cases__container">
    <p class="section-pre-title cases__pre-title">This is what we do</p>
    <h2 class="section-title cases__title">Business Cases</h2>
    <p class="cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>

    <ul class="cases__list list">
      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases1@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, quod."
        >
          <img
            class="cases__image"
            src="./images/cases/cases1.jpg"
            alt="team of people with computers work at the table"
            width="280"
        /></a>
      </li>

      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases3@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, vitae!"
          ><img
            class="cases__image"
            src="./images/cases/cases3.jpg"
            alt="paper with charts on the table"
            width="280"
        /></a>
      </li>

      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases5@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, harum."
          ><img
            class="cases__image"
            src="./images/cases/cases5.jpg"
            alt="people shake hands"
            width="280"
        /></a>
      </li>

      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases7@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, illum."
          ><img
            class="cases__image"
            src="./images/cases/cases7.jpg"
            alt="star from the hands of employees"
            width="280"
        /></a>
      </li>

      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases2@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, ut."
          ><img
            class="cases__image"
            src="./images/cases/cases2.jpg"
            alt="man's hand on laptop"
            width="280"
        /></a>
      </li>
      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases4@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, illo?"
          ><img
            class="cases__image"
            src="./images/cases/cases4.jpg"
            alt="sky with skyscrapers"
            width="280"
        /></a>
      </li>

      <!-- <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases6@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, perspiciatis."
          ><img
            class="cases__image"
            src="./images/cases/cases6.jpg"
            alt="girl with glasses on the background of a team of employees"
            width="280"
        /></a>
      </li>
      <li class="cases__item">
        <a
          class="cases__link link"
          href="./images/cases/cases8@2x.jpg"
          data-lightbox="gallery-set"
          data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, vero?"
          ><img
            class="cases__image"
            src="./images/cases/cases8.jpg"
            alt="two employees smile at each other"
            width="280"
        /></a>
      </li> -->
    </ul>
  </div>
</section>
