<header id="header" class="header">
  <div class="container header__container">
    <a class="logo link header__logo" href="./index.html">
      <svg class="logo__icon" width="40" height="30">
        <use href="./images/icon.svg#icon-book-open"></use>
      </svg>
      <span class="logo__text logo__text_accent"
        >Finance<span class="logo__text">Ledger</span></span
      >
    </a>
    <nav class="nav header__nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link nav__link_current link" href="#home">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#about">About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#cases">Cases</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#blog">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
