.cases {
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 40px;
    @media screen and (min-width: $tablet) {
      padding-top: 48px;
    }
    @media screen and (min-width: $tablet) {
      padding-top: 80px;
    }
  }

  &__pre-title {
    width: 159px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      width: 175px;
    }
  }

  &__title {
    width: 219px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      width: 284px;
    }
  }
  &__text {
    width: 207px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;

    @include fonts(
      var(--text-color-dark),
      400,
      16px,
      1.375,
      center,
      null,
      null
    );
    @media screen and (min-width: $tablet) {
      width: 645px;
      margin-bottom: 30px;
      @include fonts(
        var(--text-color-dark),
        400,
        18px,
        1.33,
        center,
        null,
        null
      );
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 18px;
      grid-row-gap: 18px;
    }
  }

  &__item {
    // &:not(:last-child) {
    //   margin-bottom: 8px;
    // }
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
