.header {
  width: 100%;
  position: fixed;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0);
  transition: all 250ms;
  &.bg-visible {
    background-color: rgba(0, 0, 0, 0.8);
  }
  &__container {
    padding: 22px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) {
      @include flex(flex, center, space-between, row, null);
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 32px;
      padding-bottom: 0px;
    }
  }
  &__logo {
    text-align: center;
    margin-bottom: 16px;
    opacity: 0.9;
    transition: all 250ms;
    &:hover,
    &:focus {
      opacity: 1;
      transform: scale(1.02);
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }
}
