.hero {
  &__section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/home/showcase.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../images/home/showcase.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/home/showcase@2x.jpg');
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../images/home/showcase@2x.webp');
    }
  }
  &__container {
    padding-top: 160px;
    padding-bottom: 104px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $tablet) {
      padding-top: 378px;
      padding-bottom: 378px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 272px;
      padding-bottom: 270px;
    }
  }

  &__title {
    width: 241px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    @include fonts(
      var(--text-color-light),
      600,
      40px,
      1.35,
      center,
      null,
      null
    );
    @media screen and (min-width: $tablet) {
      width: 523px;
      @include fonts(
        var(--text-color-light),
        600,
        55px,
        1.364,
        center,
        null,
        null
      );
    }
  }

  &__text {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    @include fonts(
      var(--text-color-light),
      400,
      26px,
      1.23,
      center,
      null,
      null
    );
    @media screen and (min-width: $tablet) {
      width: 523px;
      @include fonts(
        var(--text-color-light),
        400,
        40px,
        1.2,
        center,
        null,
        null
      );
    }
    @media screen and (min-width: $desktop) {
      width: 799px;
      @include fonts(
        var(--text-color-light),
        400,
        40px,
        1.35,
        center,
        null,
        null
      );
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-color: var(--accent-color);
    color: var(--text-color-light);
    transition: all 250ms;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
