.team {
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    padding-bottom: 50px;
    @media screen and (min-width: $tablet) {
      padding-top: 50px;
      padding-bottom: 40px;
    }
    @media screen and (min-width: $desktop) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  &__pre-title {
    width: 103px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      width: 114px;
    }
  }

  &__title {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      width: 428px;
    }
  }
  &__text {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 63px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      width: 641px;
      @include fonts(
        var(--text-color-dark),
        400,
        18px,
        1.33,
        center,
        null,
        null
      );
    }
  }

  &__social-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 250ms;
    background-color: transparent;
    & .social-list__icon {
      &:hover,
      &:focus {
        fill: var(--text-color-light);
        opacity: 0.8;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    @media screen and (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 18px;
      grid-row-gap: 18px;
    }
  }

  &__item-image-wrapper {
    position: relative;
    margin-bottom: 16px;
    transition: all 250ms;
    &:hover,
    &:focus {
      transform: scale(1.02);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2), 0 0 5px 3px rgb(0, 0, 0);
    }
    &:hover .team__social-list,
    &:focus .team__social-list {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__item-descr-title {
    margin-bottom: 8px;
    @include fonts(var(--text-color-dark), 400, 20px, 1.35, center, null, null);
    @media screen and (min-width: $tablet) {
      @include fonts(var(--text-color-dark), 400, 32px, 1, center, null, null);
    }
  }

  &__item-descr-text {
    @include fonts(
      var(--text-color-dark),
      400,
      16px,
      1.375,
      center,
      null,
      null
    );
    @media screen and (min-width: $tablet) {
      @include fonts(
        var(--text-color-dark),
        400,
        18px,
        1.33,
        center,
        null,
        null
      );
    }
  }
}
